.category-menu__container {
    display: flex;
    align-items: center;
}
.category-menu__categories {
    margin-right: 32px;
}
.category-menu__cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 15px;
}